@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dp-flex{
    display: flex;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
}
input{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 4px 0px #90bcff;
    border: 1px solid #468FFF !important;
    transition: 0.3s ease;
}
.btn-gray{
    background: #F1F1F1;
    border: 1px solid #F1F1F1;
    padding: 8px 10px;
    border-radius: 16px;
    cursor: not-allowed;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    gap: 8px;
    color: #515050;
    user-select: none;
}
.btn-primary{
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    background: #468FFF;
    color: #fff;
    border: 1px solid #468FFF;
    font-weight: 500;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}
.btn-gray span{
    font-size: 19px;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}
#app{
    width: 700px;
    height: 90%;
    user-select: none;
    position: relative;
}
/* app_header */
.app_header{
    justify-content: space-between;
}
.app_header h3{
    font-size: 29px;
}
/* app_body */
.app_body{
    justify-content: center;
}
.empty_page{
    display: none;
    place-content: center;
    height: calc(100vh - 185px);
    text-align: center;
}
.empty_page-content{
    width: 400px;
    color: gray;
}
.empty_page-content span{
    font-size: 89px;
    margin-block-end: 14px;
}
.empty_page-content h3{
    font-size: 24px;
    color: gray;
    margin-block-end: 14px;
}
/* app_footer */
.app_footer{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2%;
    justify-content: space-around;
    background: #fff;
    padding: 10px 0px;
}
.app_footer-li{
    text-align: center;
    cursor: pointer;
}
.app_footer-li:nth-of-type(2) span{
    background: #468FFF;
    border-radius: 50%;
    font-size: 44px;
    padding:12px;
    color: white;
}
.app_footer-li span{
    font-size: 36px;
    margin-block-end: 4px;
}
.app_footer-li h5{
    font-size: 15px;
    font-weight: 400;
    color: gray;
}
.app_footerActive span, .app_footerActive h5{
    color: #468FFF;
}
/* main_content */
.main_complete, .main_content{
    margin-block-start: 44px;
}
.main_complete{
    display: none;
}
.main_content h4, .main_complete h4{
    color: gray;
    justify-content: space-between;
    font-size: 19px;
    font-weight: 600;
}
.main_content h4:nth-of-type(2){
    margin-block-start: 29px;
}
.main_content h4 span, .compeleted_list h4 span{
    font-size: 16px;
}
.pending_list{
    height: 640px;
    overflow: scroll;
    padding: 20px 0px;
}
.compeleted_list .compeleted_list>span, .compeleted_list .pending-item_content h4, .compeleted_list .pending-item_content p{
    text-decoration: line-through !important;
    color: #000;
}
.pending-item{
    background: #FDE0C1;
    padding: 18px;
    border-radius: 8px;
    gap: 24px;
    margin: 14px 0px;
    cursor: pointer;
}
.pending-item span{
    font-size: 34px;
    background: #F4C28C;
    color: #fff;
    padding: 12px;
    border-radius: 50%;
}
.pending-item_content h4{
    font-size: 21px;
    color: #3f3f3f;
    margin-block-end: 4px;
}
.pending-item_content p{
    color: gray;
    font-size: 17px;
}
/* popup */

.popup{
    background: #fff;
    z-index: 99;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(224, 222, 222);
    padding: 20px;
    box-shadow: 0px 0px 7px 6px #f1eded;
    border-radius: 8px 8px 0px 0px;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;

}
.popup_header{
    justify-content: space-between;
}
.popup_header h3{
    font-size: 24px;
}
.popup_header p{
    color: #468FFF;
    font-size: 18px;
    cursor: pointer;
}
.popup_body{
    margin-block-start: 44px;
}
.popup_body .group{
    flex-direction: column;
    align-items: start;
}
.popup_body .group:nth-of-type(2), .popup_body .group:nth-of-type(3){
    margin-block-start: 44px;
}
.popup_body .group label{
    font-size: 17px;
    color: gray;
    margin-block-end: 8px;
}
.group input{
    width: 100%;
    height: 56px;
    padding: 14px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #e8e4e4;
}
.group .typos{
    margin-block-start: 8px;
    gap: 10px;
}
.group .typos p{
    background: #F1F1F1;
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 22px;
    border: 2px dotted #c5c5c5;
    color: #464646;
}
.typos_colors{
     gap: 10px;
}
.colorOfRed{
    background-color: #FDE1BF ;
}
.colorOfRed span{
    background-color: #F7B879;
}
.colorOfGreen span{
    background-color: #A4DCDB;
}
.colorOfGreen{
    background-color: #D7F1EF;
}
.colorOfBlue{
    background-color: #DDEFFF;
}
.colorOfBlue span{
    background-color: #97CAFA;
}
.typos_colors p{
    margin-block-start: 8px;
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.activeLabelColor{
    border: 2px solid #b4b3b3;
}
.group:nth-of-type(4){
    margin-block-start: 24px;
}
.typos_icons{
    margin-block-start: 19px;
    flex-wrap: wrap;
}
.typos_icons span{
    font-size: 34px;
    padding: 8px;
}
.typos_iconsActive{
    background-color: #468FFF;
    border-radius: 50%;
    color: #fff;
}
.popup_body button{
    margin-block-start: 44px;
}
/* media queries */
@media screen and (max-width: 720px) {
    #app{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    #app{
        width: 95%;
    }
    .app_header h3{font-size: 26px;}
    .empty_page-content{
        width: 100%;
    }
    .empty_page-content span{
        font-size: 69px;
    }
    .empty_page-content h3{
        font-size: 20px;
    }
    .empty_page-content p{
        font-size: 14px;
    }
    .app_footer{
        justify-content: space-around;
    }
    .pending_list{
        height: 500px;
    }
    .app_footer-li h5{display: none; }
    .popup{  height: 100%; position: fixed; overflow: scroll;}
    .group .typos{flex-wrap: wrap; }
    .group input{ font-size: 15px; }
    .pending-item{gap: 18px; }
    .pending-item_content p, .btn-gray{ font-size: 14px;}
    .pending-item span{ font-size: 28px; padding: 12px;}
    .main_content h4{font-size: 14px;}
    .main_content h4 span{font-size: 13px;}
    .pending-item_content h4{font-size: 17px;}
    .app_footer{padding: 10px 0px 0px 0px;bottom: 0%;position: fixed;padding: 10px;}
    .app_footer-li span{font-size: 28px;}
    .app_footer-li:nth-of-type(2) span{font-size: 34px;}
}